body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 0 15vw;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  width: min-content;
}

.field {
  background-color: aquamarine;
  height: 100%;
  width: 100%;
}

.ui {
  flex-direction: column;
}

.ui > * {
  margin: 2rem 0;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.score-board div {
  margin: 0 2rem;
}
